* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 100%
}

a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin-right: 5px;
}

img {
    width: 15%;
    flex-shrink: 0; /* To prevent loss of aspect ratio on shrinking */
    min-width: 95px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 2%;
    min-width: 30px;
    height: 100%;
    background: #f2f2f2;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.5%;
    background-color: #008CE2;
}

.header_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5%;
    color: white;
}

.top_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5em;
}

.header_title {
    font-size: 25px;
}



.courses_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 99%;
}

li p {
    width: 12%;
    margin: 16px;
    padding: 3px;
}

.even {
    background-color: #f2f2f2;;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    width: 100%;
    min-height: 50px;
    gap: 2%;
    background-color: #DB4E3D;
    color: white;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-right: 2%;
}

.left {
    margin-left: 2%;
}

button {
    background-color: #DB4E3D;
    color: white;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
}
