:root {
    --background-color: #5d5d5d;
    --message-color: #b5915f;
    --border-color: #462921;
    --numbers-background-color: #7d694c;
    --light-tile-color: #b5915f;
    --dark-tile-color: #441a03;
    --font-color: #333;
    --chessboard-width: 560px;
    --chessboard-tile-width: 70px;
  }
  
  body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .text {
    color: var(--message-color);
  }
  
  .chessboard {
    display: none;
  }
  
  @media screen and (min-width: 700px) {
    .text {
      display: none;
    }
    .chessboard {
      border: 49px solid var(--border-color);
      width: var(--chessboard-width);
      margin: 0 auto;
      display: grid;
      grid-template-rows: 40px repeat(8, var(--chessboard-tile-width)) 40px;
    }
    .row {
      display: grid;
      grid-template-columns: repeat(8, var(--chessboard-tile-width));
    }
    .top,
    .bottom {
      background-color: var(--numbers-background-color);
    }
    .tile {
      padding: 20px;
      background-color: var(--dark-tile-color);
      color: var(--font-color);
    }
    .tile__number {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row:nth-child(even) .tile:nth-child(odd),
    .row:nth-child(odd) .tile:nth-child(even) {
      background-color: var(--light-tile-color);
    }
  }
 